@import '../../colors.scss';



:host{
    .cart{
        cursor: pointer;
        background-color: $primary-color;
        position: absolute;
        right: 10px;
        border-radius: 50%;
        height: 5em;
        width: 5em;
        text-align: center;
        color: white;
        span{
            
            text-align: center;
            
        }

    }    
    main.show-cart{
        background-color: $primary-color;
        display: block;
        position: absolute;
        min-height: 5em;
        right: 10px;
        top: 180px;
        border-radius: 12px;
        min-width: 15em;
        padding-bottom: .5em;
        h3{
            color: white;
        }
        .products{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                color: white;
            }
        }
       
    }
    main.hide-cart{
        display: none;
    }
}



