@import '../../../colors.scss';

:host{
    padding: .8em;
    .product-card{
        img{
            height: 20em;
            width: 28em;
            border-radius: 12px;
        }
        p{
            color: grey;
        }
    }
}
